.backGround
{
    /* background-image: url(../Assets/Image/plane.jpg); */
    /* background-image: rgba(0,0,0,0.3); */
    /* opacity: 0.3; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}


/* .Title
{
    font-family: cursive;
    text-align: center;
} */
.frm
{
    margin: auto;
    width: 50%;
    font-family: cursive;
    padding: 40px;
    border-radius: 5px;
    border: 2px black solid;
    background-image: url(../Assets/Image/plane1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.searchBtn
{
    float:right;
    padding-right: 10px;
}
.navCustom
{
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    text-decoration: none;
    font-family: cursive;
}
.userSetting
{
    float:right;
    font-family: cursive;
}